@charset "UTF-8";
/* tipo de fuente para todos los html */
body {
  font-family: 'Nanum Gothic', sans-serif; }

/* estilos del banner */
.home_banner {
  background-color: #B2EA70; }

/* estilos del home nav */
.bg-color-home {
  background-color: #FBD148; }

/* estilos del home header */
.home_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px; }
  .home_header h1 {
    color: #C85C5C;
    font-size: 3em;
    animation-name: titulo_home;
    animation-duration: 3s;
    animation-iteration-count: 4s; }
  .home_header img {
    width: 100%;
    max-height: 430px; }
  .home_header h2 {
    color: #C85C5C; }

@keyframes titulo_home {
  0% {
    font-size: 3em; }
  25% {
    font-size: 4em; }
  50% {
    font-size: 5em; }
  75% {
    font-size: 4em; } }

/* estilos del home main */
.home_main {
  display: flex;
  flex-direction: column;
  background-image: url("assets/background-image.jpg"); }
  .home_main .home_main_section_1 {
    background-color: #F9975D;
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    transform: all, 1s, ease-in-out; }
  .home_main .home_main_section_1:hover {
    transform: rotate(10deg); }
  .home_main .home_main_section_2 {
    background-color: #FBD148;
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    transform: all, 1s, ease-in-out; }
  .home_main .home_main_section_2:hover {
    transform: rotate(-10deg); }

/* estilos de home galeria */
.home_galeria {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home_galeria img {
    margin: 10px; }

/* estilos del home footer */
.home_footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  font-weight: bold;
  color: #FBD148; }

/* backaground para el html sabores */
.sabores_body {
  background-image: url("assets/background-image.jpg"); }

/* estilos del banner */
.sabores_banner {
  background-color: #B2EA70; }

/* estilos de sabores nav */
.bg-color-sabores {
  background-color: #F9975D; }

/* estilos del sabores header */
.sabores_header {
  display: flex;
  margin-top: 50px;
  background-color: #FBD148;
  border-radius: 25px;
  justify-content: space-around;
  align-items: center;
  font-size: 20px; }
  .sabores_header img {
    display: none; }
  .sabores_header h1 {
    font-style: italic;
    text-align: center; }
  .sabores_header p {
    text-align: center; }

/* estilos del main */
.sabores_main {
  margin-top: 50px; }
  .sabores_main .sabores_main_section_1 {
    background-color: #B2EA70;
    border-radius: 50px;
    padding: 50px; }
  .sabores_main .sabores_main_section_2 {
    background-color: #C85C5C;
    border-radius: 50px;
    padding: 50px; }

/* estilos de sabores footer */
.sabores_footer {
  margin-top: 50px;
  background-color: #F9975D;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 15px; }
  .sabores_footer form {
    display: flex;
    padding: 15px; }
    .sabores_footer form input {
      width: 500px;
      height: 150px; }
    .sabores_footer form button {
      display: flex;
      margin-left: 20px;
      border-radius: 100px;
      align-self: center; }

/* estilos del banner */
.infonutrimental_banner {
  background-color: #FBD148; }

/* estilos del infonutrimental nav */
.bg-color-infonutrimental {
  background-color: #F9975D; }

/* estilos del infonutrimental header */
.infonutrimental_header {
  display: flex;
  justify-content: center; }
  .infonutrimental_header div {
    display: flex;
    flex-direction: column;
    background-color: #B2EA70;
    height: 250px;
    width: 750px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    border-radius: 50px;
    border: solid;
    border-color: #FBD148; }
  .infonutrimental_header p {
    font-size: 20px;
    font-style: oblique; }
  .infonutrimental_header h1 {
    color: #C85C5C; }

/* estilos del infonutrimental main */
.infonutrimental_main {
  margin-top: 125px; }

.infonutrimental_main h2 {
  display: inline-flex;
  background-color: #C85C5C;
  padding: 17px;
  border-radius: 50px;
  margin-left: 50px;
  font-style: oblique;
  color: antiquewhite;
  width: 125px; }

.infonutrimental_main_section {
  display: grid;
  grid-template-areas: "h2" "tabla1" "tabla2";
  margin-top: 75px; }

.infonutrimental_main_section h2 {
  grid-area: h2; }

.infonutrimental_main_section_tabla_1 {
  grid-area: tabla1;
  height: 500px;
  width: 20px; }

.infonutrimental_main_section_tabla_2 {
  grid-area: tabla2;
  height: 500px;
  width: 35px; }

.infonutrimental_main table {
  border-radius: 15px;
  border-color: #B2EA70;
  background-color: #B2EA70; }

.infonutrimental_main table thead {
  background-color: #FBD148; }

.infonutrimental_main table tbody {
  background-color: #F9975D; }

/* estilos de sección extra */
.col-sm {
  background-color: #FBD148;
  margin: 10px;
  padding: 10px;
  border-radius: 25px; }

/* estilos del infonutrimental footer */
.infonutrimental_footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  font-weight: bold;
  color: #C85C5C; }

/* estilos del banner */
.contacto_banner {
  background-color: #B2EA70; }

/* estilos del contacto nav */
.bg-color-contacto {
  background-color: #F9975D; }

/* estilos del contacto header */
.contacto_header {
  display: flex;
  justify-content: center; }
  .contacto_header div {
    display: flex;
    flex-direction: column;
    background-color: #FBD148;
    height: 250px;
    width: 750px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    border-radius: 50px;
    border: solid;
    border-color: #B2EA70;
    padding: 0 15px; }
  .contacto_header p {
    font-size: 20px;
    font-style: oblique; }
  .contacto_header h1 {
    color: #C85C5C; }

/* estilos del contacto main */
.contacto_main {
  padding-top: 100px;
  display: flex;
  flex-direction: column; }

.contacto_main img {
  display: none; }

.contacto_main_section_div_1, .contacto_main_section_div_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F9975D;
  border-radius: 22%;
  margin: 8px;
  height: 450px; }
  .contacto_main_section_div_1 p, .contacto_main_section_div_2 p {
    font-size: 18px;
    color: antiquewhite;
    margin: 0 10px; }

.contacto_main_section_div_2 {
  background-color: #B2EA70;
  height: 710px; }
  .contacto_main_section_div_2 p {
    color: black; }

/* estilos del contacto footer */
.contacto_footer h3 {
  color: #C85C5C;
  text-align: center;
  font-size: 24px;
  margin: 72px 0; }

.contacto_footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 75px; }

.contacto_footer li {
  padding: 0 8px; }

.contacto_footer img {
  height: 20px;
  width: 20px; }

/* estilos del banner */
.sobre_nosotros_banner {
  background-color: #FBD148; }

/* estilos del sobre nosotros nav */
.bg-color-sobre-nosotros {
  background-color: #B2EA70; }

/* estilos del sobre nosotros header */
.sobre_nosotros_header {
  display: flex;
  flex-direction: column;
  margin-top: 65px; }
  .sobre_nosotros_header h1 {
    color: #C85C5C;
    font-size: 3em;
    text-align: center; }
  .sobre_nosotros_header p {
    font-size: 2em;
    text-align: center; }

/* estilos del sobre nosotros main */
.sobre_nosotros_main_section_1 {
  margin: 50px 15px;
  display: flex;
  flex-direction: column;
  background-color: #B2EA70;
  justify-content: space-around;
  transition: all, 1s, ease-in-out; }

.sobre_nosotros_main_section_1:hover {
  opacity: .8; }

.sobre_nosotros_main_section_1 h2 {
  padding: 15px;
  border-radius: 40%;
  text-align: center;
  font-size: 2em; }

.sobre_nosotros_main_section_1 p {
  font-size: 20px;
  margin: 5px 10px; }

.sobre_nosotros_main_section_2 {
  margin: 50px 15px;
  display: flex;
  flex-direction: column;
  background-color: #F9975D;
  justify-content: space-around;
  transition: all, 1s, ease-in-out; }

.sobre_nosotros_main_section_2:hover {
  opacity: .8; }

.sobre_nosotros_main_section_2 h2 {
  padding: 15px;
  border-radius: 40%;
  text-align: center;
  font-size: 2em; }

.sobre_nosotros_main_section_2 p {
  font-size: 20px;
  margin: 5px 10px; }

/* estilos del sobre nosotros footer */
.sobre_nosotros_footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  font-weight: bold;
  color: #C85C5C; }

/* estas son las media queries de todas las páginas */
/* mapa de media queries */
/* inicio de las media queries a partir de 768px */
@media (min-width: 768px) {
  /* media queries para la página home */
  .navbar, .navbar-collapse {
    justify-content: flex-end; }
  /* media queries del home header */
  .home_header h1 {
    font-size: 5em; }
  /* media queries del home main */
  .home_main_section_1 {
    margin: 100px 150px;
    font-size: 22px;
    height: 550px;
    width: 550px;
    border-radius: 150px; }
  .home_main_section_2 {
    margin: 50px 150px 100px 0;
    font-size: 22px;
    height: 500px;
    width: 500px;
    border-radius: 150px;
    align-self: flex-end; }
  /* media queries para la página sabores */
  /* media queries del sabores header */
  .sabores_header {
    display: flex;
    margin-top: 50px;
    background-color: #FBD148;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px; }
    .sabores_header img {
      border-radius: 100px;
      display: block; }
  /* media queries para la página infonutrimental */
  /* media queries del infonutrimental main */
  .infonutrimental_main_section {
    display: grid;
    grid-template-areas: "h2 h2" "tabla1 tabla2"; }
  /* media queries para la página contacto */
  /* media queries del contacto main */
  .contacto_main img {
    display: block;
    padding: 15px;
    border-radius: 40%; }
  .contacto_main {
    padding-top: 100px;
    display: flex;
    flex-direction: column; }
  .contacto_main_section_1 {
    margin: 50px 15px;
    display: flex;
    flex-direction: column;
    background-color: #F9975D;
    height: 450px;
    width: 85%;
    border-radius: 22%;
    justify-content: space-around; }
  .contacto_main_section_div_1, .contacto_main_section_div_2 {
    display: flex;
    margin: 50px; }
  .contacto_main img {
    display: block; }
  .contacto_main_section_2 img {
    height: 250px;
    width: 150px;
    align-self: center; }
  .contacto_main_section_div_1 p, .contacto_main_section_div_2 p {
    font-size: 20px;
    color: antiquewhite; }
  .contacto_main_section_2 {
    margin: 50px 15px;
    display: flex;
    flex-direction: column;
    background-color: #B2EA70;
    height: 450px;
    width: 85%;
    border-radius: 22%;
    justify-content: space-around;
    align-self: flex-end; }
  .contacto_main_section_div_2 {
    display: flex;
    margin: 50px; }
  .contacto_main_section_div_2 p {
    font-size: 20px; }
  /* media queries para la página spbre nosotros */
  /* media queries del sobre nosotros main */
  .sobre_nosotros_main {
    display: flex;
    flex-direction: column; }
  .sobre_nosotros_main_section_1 {
    border-radius: 50px;
    height: 350px;
    width: 800px; }
  .sobre_nosotros_main_section_2 {
    border-radius: 50px;
    height: 350px;
    width: 800px;
    align-self: flex-end; } }
