/* estilos del banner */
.contacto_banner {
    background-color: $color-verde;
}

/* estilos del contacto nav */
.bg-color-contacto {
    background-color: $color-naranja;
}

/* estilos del contacto header */
.contacto_header {
    display: flex;
    justify-content: center;

    div {
        display: flex;
        flex-direction: column;
        background-color: $color-amarillo;
        height: 250px;
        width: 750px;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
        border-radius: 50px;
        border: solid;
        border-color: $color-verde;
        padding: 0 15px;
    }

    p {
        font-size: 20px;
        font-style: oblique;
    }

    h1 {
        color: $color-rosa;
    }
}

/* estilos del contacto main */
.contacto_main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;

    img {
        display: none;
    }
}

.contacto_main_section_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-naranja;
    border-radius: 22%;
    margin: 8px;
    height: 450px;

    p {
        font-size: 18px;
        color: antiquewhite;
        margin: 0 10px;  
    }
}

.contacto_main_section_2 {
    @extend .contacto_main_section_1;
    background-color: $color-verde;
    height: 710px;

    p {
        color: black;
    }
}

/* estilos del contacto footer */
.contacto_footer {

    h3 {
        color: $color-rosa;
        text-align: center;
        font-size: 24px;
        margin: 72px 0;
    }

    input {
        margin: 10px 0;
    }

    button {
        background-color: $color-verde;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: 75px;
        padding: 0;
    }

    li {
        padding: 0 8px;
    }

    img {
        height: 22px;
        width: 22px;
    }
}