/* estilos del banner */
.sobre_nosotros_banner {
    background-color: $color-amarillo;
}

/* estilos del sobre nosotros nav */
.bg-color-sobre-nosotros {
    background-color: $color-verde;
}
/* estilos del sobre nosotros header */
.sobre_nosotros_header {
    display: flex;
    flex-direction: column;
    margin-top: 65px;

    h1 {
        color: $color-rosa;
        font-size: 3em;
        text-align: center;
    }

    p {
        font-size: 2em;
        text-align: center;
    }
}

/* estilos del sobre nosotros main */
.sobre_nosotros_main_section_1 {
    margin: 50px 15px;
    display: flex;
    flex-direction: column;
    background-color: $color-verde;
    justify-content: space-around;
    transition: all, 1s, ease-in-out;

    h2 {
        padding: 15px;
        border-radius: 40%;
        text-align: center;
        font-size: 2em;
    }

    p {
        font-size: 20px;
        margin: 5px 10px;
    }
}

.sobre_nosotros_main_section_1:hover {
    opacity: .8;
}

.sobre_nosotros_main_section_2 {
    margin: 50px 15px;
    display: flex;
    flex-direction: column;
    background-color: $color-naranja;
    justify-content: space-around;
    transition: all, 1s, ease-in-out;

    h2 {
        padding: 15px;
        border-radius: 40%;
        text-align: center;
        font-size: 2em;
    }

    p {
        font-size: 20px;
        margin: 5px 10px;
    }
}

.sobre_nosotros_main_section_2:hover {
    opacity: .8;
}

/* estilos de la sección extra de sobre nosotros */
.sobre_nosotros_sección_extra {
    margin-top: 75px;

    img {
        margin: 5px 24px;
    }

    .col-sm {
        background-color: $color-amarillo;
        margin: 10px 35px;
        padding: 15px;
        height: auto;
        width: 250px;
    }
}

/* estilos del sobre nosotros footer */
.sobre_nosotros_footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-weight: bold;
    color: $color-rosa;
}