/* tipo de fuente para todos los html */
body {
    font-family: 'Nanum Gothic', sans-serif;
}

/* diseño del home grid */
.home {
    display: grid;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer"
    ;
}

/* iniciando estilos de la página home */

/* estilos del home nav */
.home_nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

.home_nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.home_nav ul li {
    margin: 0 10px;
    font-size: 20px;
    padding: 5px 0;
}

.home_nav ul li a {
    text-decoration-color: #C85C5C;
    transition: all, 1s, ease-in-out;
}

.home_nav ul li a:hover {
    text-decoration-color: #B2EA70 ;
}

/* estilos del home header */
.home_header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.home_header h1 {
    color: #C85C5C;
    font-size: 3em;
    animation-name: titulo_home;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes titulo_home {
    0% {
        font-size: 3em;
    }

    25% {
        font-size: 4em;
    }

    50% {
        font-size: 5em;
    }

    75% {
        font-size: 4em;
    }
}

.home_header img {
    width: 100%;
    max-height: 430px;
}

.home_header h2 {
    color: #C85C5C;
}

/* estilos del home main */
.home_main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-image: url('assets/background-image.jpg');
}

.home_main_section_1 {
    background-color: #F9975D;
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}

.home_main_section_2 {
    background-color: #FBD148;
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}

/* estilos del home footer */
.home_footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-weight: bold;
    color: #C85C5C
}

/* iniciando estilos de la página sabores */

/* backaground para el html sabores */
.sabores_body {
    background-image: url('assets/background-image.jpg');
}

/* estilos de sabores nav */
.sabores_nav {
    display: flex;
    flex-direction: column;
}

.sabores_nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.sabores_nav ul li {
    margin: 0 10px;
    font-size: 20px;
    padding: 5px 0;
}

.sabores_nav ul li a {
    text-decoration: none;
    background-color: #B2EA70;
    border-radius: 10px;
    transition: all, 1s, ease-in-out;
}

.sabores_nav ul li a:hover {
    background-color: #FBD148;
}

/* estilos del sabores header */
.sabores_header {
    display: flex;
    margin-top: 50px;
    background-color: #FBD148;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    }

.sabores_header img {
    display: none;
}

.sabores_header h1 {
    font-style: italic;
    text-align: center;
}

.sabores_header p {
    text-align: center;
}

/* estilos de sabores main */
.sabores_main {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: #C85C5C;
    border-radius: 25px;
    color: antiquewhite;
}

.sabores_main h2 {
    display: flex;
    background-color: #B2EA70;
    padding: 18px;
    border-radius: 50px;
    color: #C85C5C;
}

.sabores_main_section_1 {
    font-size: 15px;
}

.sabores_main_section_1 ul {
    list-style: circle;
}

.sabores_main_section_2 {
    font-size: 15px;
}

.sabores_main_section_2 ul {
    list-style: circle;
}

.sabores_main h2 {
    font-style: italic;
}

/* estilos de sabores footer */
.sabores_footer {
    margin-top: 50px;
    background-color: #F9975D;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sabores_footer input {
    width: 500px;
    height: 150px;
}

.sabores_footer button {
    display: flex;
    margin-left: 20px;
    border-radius: 100px;
    align-self: center;
}

.sabores_footer div {
    display: flex;
    padding: 15px;
}

/* iniciando estilos de la página infonutrimental */

/* estilos de infonutrimental nav */
.infonutrimental_nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

.infonutrimental_nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.infonutrimental_nav ul li {
    margin: 0 10px;
    font-size: 20px;
    padding: 5px 0;
}

.infonutrimental_nav ul li a {
    text-decoration-color: #C85C5C;
    transition: all, 1s, ease-in-out;
}

.infonutrimental_nav ul li a:hover {
    text-decoration-color: #B2EA70;
}

/* estilos del infonutrimental header */
.infonutrimental_header {
    display: flex;
    justify-content: center;
}

.infonutrimental_header div {
    display: flex;
    flex-direction: column;
    background-color: #B2EA70;
    height: 250px;
    width: 750px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    border-radius: 50px;
    border: solid;
    border-color: #FBD148;
}

.infonutrimental_header p {
    font-size: 20px;
    font-style: oblique;
}

.infonutrimental_header h1 {
    color:#C85C5C;
}

/* estilos del infonutrimental main */
.infonutrimental_main {
    margin-top: 125px;
}

.infonutrimental_main h2 {
    display: inline-flex;
    background-color: #C85C5C;
    padding: 17px;
    border-radius: 50px;
    margin-left: 50px;
    font-style: oblique;
    color: antiquewhite;
    width: 75px;
}

.infonutrimental_main_section {
    display: grid;
    grid-template-areas:
    "h2"
    "tabla1"
    "tabla2"
    ;
}

.infonutrimental_main_section h2 {
    grid-area: h2;
}

.infonutrimental_main_section_tabla_1 {
    grid-area: tabla1;
    height: 500px;
    width: 20px;
}

.infonutrimental_main_section_tabla_2 {
    grid-area: tabla2;
    height: 500px;
    width: 35px;
}

.infonutrimental_main_section h2 {
    grid-area: h2;
}

.infonutrimental_main_section_tabla_1 {
    grid-area: tabla1;
    height: 500px;
    width: 35px;
}

.infonutrimental_main_section_tabla_2 {
    grid-area: tabla2;
    height: 500px;
    width: 35px;
}

.infonutrimental_main table {
    border-radius: 15px;
    border-color: #B2EA70;
    background-color: #B2EA70;
}

.infonutrimental_main table thead {
    background-color: #FBD148;
}

.infonutrimental_main table tbody {
    background-color: #F9975D;
}

.infonutrimental_main_section {
    margin-top: 75px;
}

/* estilos del infonutrimental footer */
.infonutrimental_footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-weight: bold;
    color: #C85C5C
}

/* iniciando estilos de la página contacto */

/* estilos de contacto nav */
.contacto_nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

.contacto_nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.contacto_nav ul li {
    margin: 0 10px;
    font-size: 20px;
    padding: 5px 0;
}

.contacto_nav ul li a {
    text-decoration-color: #C85C5C;
    transition: all, 1s, ease-in-out;
}

.contacto_nav ul li a:hover {
    text-decoration-color: #B2EA70;
}

/* estilos del contacto header */
.contacto_header {
    display: flex;
    justify-content: center;
}

.contacto_header div {
    display: flex;
    flex-direction: column;
    background-color: #FBD148;
    height: 250px;
    width: 750px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    border-radius: 50px;
    border: solid;
    border-color: #B2EA70;
    padding: 0 15px;
}

.contacto_header p {
    font-size: 20px;
    font-style: oblique;
}

.contacto_header h1 {
    color:#C85C5C;
}

/* estilos del contacto main */
.contacto_main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}


.contacto_main img {
    display: none;
}

.contacto_main_section_div_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F9975D;
    border-radius: 22%;
    margin: 8px;
    height: 400px;
}

.contacto_main_section_div_1 p {
    font-size: 18px;
    color: antiquewhite;
    margin: 0 10px;  
}

.contacto_main_section_div_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #B2EA70;
    border-radius: 22%;
    margin: 8px;
    height: 680px;
}

.contacto_main_section_div_2 p {
    font-size: 18px;
    margin: 0 10px;
}

/* estilos del contacto footer */
.contacto_footer h3 {
    color: #C85C5C;
    text-align: center;
    font-size: 24px;
    margin: 72px 0;
}

.contacto_footer_div_form {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 550px;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.contacto_footer_div {
    background-color: #FBD148;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border-style: double;
    border-color: #C85C5C;
    width: 250px;
    align-self: center;
}

.contacto_footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 75px;
}
.contacto_footer ul li {
    padding: 0 8px;
}

.contacto_footer ul li img {
    height: 20px;
    width: 20px;
}

/* iniciando estilos de la página sobre nosotros */

/* estilos del sobre nosotros nav */
.sobre_nosotros_nav {
    display: flex;
    flex-direction: column;
}

.sobre_nosotros_nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.sobre_nosotros_nav ul li {
    margin: 0 10px;
    font-size: 20px;
    padding: 5px 0;
}

.sobre_nosotros_nav ul li a {
    text-decoration: none;
    background-color: #FBD148;
    border-radius: 10px;
    transition: all, 1s, ease-in-out;
}

.sobre_nosotros_nav ul li a:hover {
    background-color: #B2EA70 ;
}

/* estilos del sobre nosotros header */
.sobre_nosotros_header {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.sobre_nosotros_header h1 {
    color: #C85C5C;
    font-size: 3em;
    text-align: center;
}

.sobre_nosotros_header p {
    font-size: 2em;
    text-align: center;
}

/* estilos del sobre nosotros main */
.sobre_nosotros_main_section_1 {
    margin: 50px 15px;
    display: flex;
    flex-direction: column;
    background-color: #B2EA70;
    justify-content: space-around;

}

.sobre_nosotros_main_section_1 h2 {
    padding: 15px;
    border-radius: 40%;
    text-align: center;
    font-size: 2em;
}

.sobre_nosotros_main_section_1 p {
    font-size: 20px;
    margin: 5px 10px;
}

.sobre_nosotros_main_section_2 {
    margin: 50px 15px;
    display: flex;
    flex-direction: column;
    background-color: #F9975D;
    justify-content: space-around;

}

.sobre_nosotros_main_section_2 h2 {
    padding: 15px;
    border-radius: 40%;
    text-align: center;
    font-size: 2em;
}

.sobre_nosotros_main_section_2 p {
    font-size: 20px;
    margin: 5px 10px;
}

/* estilos del sobre nosotros footer */
.sobre_nosotros_footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    font-weight: bold;
    color: #C85C5C
}

/* aquí empiezan las media queries */
@media screen and (min-width: 768px) {

    /* media queries para la página home */
    .home {
        display: grid;
        grid-template-areas:
        "nav nav"
        "header header"
        "main main"
        "footer footer"
        ;
    }

    /* media queries del home nav */
    .home_nav {
        grid-area: nav;
        display: flex;
        align-items: flex-end;
    }

    .home_nav ul {
        display: flex;
        flex-direction: row;
        margin-right: 25px;
    }

    /* media queries del home header */
    .home_header {
        grid-area: header;
    }

    .home_header h1 {
        font-size: 5em;
    }

    /* media queries del home main */
    .home_main {
        grid-area: main;
    }

    .home_main_section_1 {
        margin: 100px 50px;
        font-size: 22px;
        height: 500px;
        width: 500px;
        border-radius: 150px;
    }
    
    .home_main_section_2 {
        margin: 50px 50px 100px 0;
        font-size: 22px;
        height: 500px;
        width: 500px;
        border-radius: 150px;
        align-self: flex-end;
    }

    /* media queries del home footer */
    .home_footer {
        grid-area: footer;
    }

    /* media queries para la página sabores */

    /* media queries del sabores nav */
    .sabores_nav {
        display: flex;
        align-items: flex-end;
    }

    .sabores_nav ul {
        display: flex;
        flex-direction: row;
        margin-right: 25px;
    }

    /* media queries del sabores header */
    .sabores_header img {
        border-radius: 100px;
        display: block;
    }

    .sabores_header {
        display: flex;
        margin-top: 50px;
        background-color: #FBD148;
        border-radius: 25px;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        }

        /* media queries del sabores main */
        .sabores_main {
            margin-top: 50px;
            display: flex;
            justify-content: space-evenly;
            background-color: #C85C5C;
            border-radius: 25px;
            color: antiquewhite;
        }
        
        .sabores_main h2 {
            display: flex;
            background-color: #B2EA70;
            padding: 18px;
            border-radius: 50px;
            color: #C85C5C;
        }
        
        .sabores_main_section_1 {
            font-size: 25px;
        }
        
        .sabores_main_section_2 {
            font-size: 25px;
        }

        /* media queries para la página infonutrimental */

        /* media queries del infonutrimental nav */
        .infonutrimental_nav {
            display: flex;
            align-items: flex-end;
        }
    
        .infonutrimental_nav ul {
            display: flex;
            flex-direction: row;
            margin-right: 25px;
        }

        /* media queries del infonutrimental main */
        .infonutrimental_main_section {
            display: grid;
            grid-template-areas:
            "h2 h2"
            "tabla1 tabla2"
            ;
        }

        .infonutrimental_main_section h2 {
            grid-area: h2;
        }
        
        .infonutrimental_main_section_tabla_1 {
            grid-area: tabla1;
        }
        
        .infonutrimental_main_section_tabla_2 {
            grid-area: tabla2;
        }

        .infonutrimental_main_section h2 {
            grid-area: h2;
        }
        
        .infonutrimental_main_section_tabla_1 {
            grid-area: tabla1;
        }
        
        .infonutrimental_main_section_tabla_2 {
            grid-area: tabla2;
        }

        /* media queries para la página contacto */

        /* media queries del contacto nav */
        .contacto_nav {
            display: flex;
            align-items: flex-end;
        }
    
        .contacto_nav ul {
            display: flex;
            flex-direction: row;
            margin-right: 25px;
        }

        /* media queries del contacto main */
        .contacto_main img {
            display: block;
            padding: 15px;
            border-radius: 40%;
        }

        .contacto_main {
            padding-top: 100px;
            display: flex;
            flex-direction: column;
        }
        
        .contacto_main_section_1 {
            margin: 50px 15px;
            display: flex;
            flex-direction: column;
            background-color: #F9975D;
            height: 450px;
            width: 85%;
            border-radius: 22%;
            justify-content: space-around;
        }
        
        .contacto_main_section_div_1 {
            display: flex;
            margin: 50px;
        }
        
        .contacto_main img {
            display: block;
        }
        .contacto_main_section_2 img {
            height: 250px;
            width: 150px;
            align-self: center;
        }
        
        .contacto_main_section_div_1 p {
            font-size: 20px;
            color: antiquewhite;
        }
        
        .contacto_main_section_2 {
            margin: 50px 15px;
            display: flex;
            flex-direction: column;
            background-color: #B2EA70;
            height: 450px;
            width: 85%;
            border-radius: 22%;
            justify-content: space-around;
            align-self: flex-end;
        
        }
        
        .contacto_main_section_div_2 {
            display: flex;
            margin: 50px;
        }
        
        .contacto_main_section_div_2 p {
            font-size: 20px;
        }

        /* media queries del contacto footer */
        .contacto_footer_div {
            display: flex;
            justify-content: center;
            width: 875px;
        }

        /* media queries para la página spbre nosotros */

        /* media queries del sobre nosotros nav */
        .sobre_nosotros_nav {
            display: flex;
            align-items: flex-end;
        }
    
        .sobre_nosotros_nav ul {
            display: flex;
            flex-direction: row;
            margin-right: 25px;
        }
        
        /* media queries del sobre nosotros main */
        .sobre_nosotros_main {
            display: flex;
            flex-direction: column;
        }

        .sobre_nosotros_main_section_1 {
            border-radius: 50px;
            height: 350px;
            width: 800px;
        }

        .sobre_nosotros_main_section_2 {
            border-radius: 50px;
            height: 350px;
            width: 800px;
            align-self: flex-end;
        }
    }